doctype html
html
    head
        title Sailor Form
        meta(charset='utf-8')
        // Stylesheet
        link(rel="stylesheet", type="text/css", href="main.min.css")
        // Google Fonts
        link(href="https://fonts.googleapis.com/css?family=Francois+One", rel="stylesheet")

    body
        div#form-container
           form
              label(for='name') Your Name
              br
              input(placeholder='Your Name' type='text' name='name' id='name')
              br

              label(for='email') Your Email
              br
              input(placeholder='Your Email' type='email' name='email' id='email')
              br

              label(for='phone') Your Phone Number
              br
              input(placeholder='Your Number' type='tel' name='phone' id='phone')
              br

              label(for='message') Your Message
              br
              textarea(placeholder='Your Message' type='text' name='message' id='message')
              input(type='submit' name='submit' value='Send')

           div#shapeOne
           div#shapeTwo
           div#shapeThree
           div#shapeFour
