$shapeHeight: 40px;
$shapeWidth: 100px;
$shapeColor: black;

*{
   box-sizing: border-box;
   font-family: 'Francois One', sans-serif;
}

body{
   background: #34495e;

   #form-container{
      background: #f39c12;
      margin: 50px auto;
      position: relative;
      width: 500px;

      label{
         font-size: 1.5em;
         line-height: 50px;
         padding-left: 40px;
      }

      input, textarea{
         border: none;
         font-size: 1.1em;
         height: 50px;
         padding-left: 40px;
         width: 100%;
      }

      input:focus, textarea:focus{
         outline: 3px solid black;
      }

      textarea{
         max-width: 500px;
         padding-top: 15px;
      }

      [type='submit']{
         background: #f39c12;
         margin-top: -4px;
         padding-left: 0;
      }
      #shapeOne{
         background: $shapeColor;
         height: $shapeHeight;
         position: absolute;
         top: -10px;
         right: -20px;
         width: $shapeWidth;
      }

      #shapeTwo{
         background: $shapeColor;
         height: $shapeWidth;
         position: absolute;
         top: -10px;
         right: -20px;
         width: $shapeHeight;
      }

      #shapeThree{
         background: $shapeColor;
         height: $shapeHeight;
         position: absolute;
         bottom: -10px;
         left: -20px;
         width: $shapeWidth;
      }

      #shapeFour{
         background: $shapeColor;
         height: $shapeWidth;
         position: absolute;
         bottom: -10px;
         left: -20px;
         width: $shapeHeight;
      }

   }// form-cont end
}// body end
