doctype html
html
    head
        title Red Hot
        meta(charset='utf-8')
        link(href='main.min.css' rel='stylesheet' type='text/css')
    body
        form
           h1 Get in touch
           input(placeholder='Your Name' name='name' type='text')
           br
           input(placeholder='Your Email' name='email' type='email')
           br
           select
              option What do you want to talk about?
              option About a new project.
              option I want to talk about it over coffee.
              option About us.
           br
           textarea(placeholder='Your Message')
           br
           input(value='Send Message' name='submit' type='submit')
